<div class="row" data-ng-controller="playerCtrl">
  <div>
    <audio id="player" media-player="audio1" data-playlist="playlist1">
      <source src="/sounds/chicago.mp3" type="audio/mp3">
      <source src="/sounds/drones.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
    <div class="panel panel-music">
      <div class="panel-body panel-music-body">
        <div class="row image-row">
            <img src="/images/playerBg.png" class="img-responsive player-image" alt="Image">
        </div>
         <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <div class="progress progress-music">
               <div class="progress-bar music-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{currentTime}}%;">
                </div>
              </div>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center player-song">
             <span>{{song.writer}}</span>
             <br />
             <span>{{song.song}}</span>
           </div>
         </div>
         <hr />
         <div class="row icon-row">
            <div data-ng-hide="volumeShow">
               <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-center player-icon">
                 <i class="fa fa-random"></i>
               </div>
               <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center player-icon">
                 <i class="fa fa-fast-backward" data-ng-click="prevSong()"></i>
               </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center player-icon">
                 <i class="fa" data-ng-class="{'fa-play':playing, 'fa-pause':!playing}" data-ng-click="pause()"></i>
               </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center player-icon">
                 <i class="fa fa-fast-forward" data-ng-click="nextSong()"></i>
               </div>
           </div>
           <div data-ng-show="volumeShow" data-ng-hide="!volumeShow">
             <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
               <input type="range" ng-model="volume" data-ng-change="updateVolume()" min="0" max="1" step=".1" class="ng-valid ng-dirty volume-slider">
             </div>
           </div>
           <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center player-icon">
             <i class="fa fa-volume-up" data-ng-click="showVolume()"></i>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>